<?xml version="1.0" encoding="UTF-8"?>

<settings xmlns="http://maven.apache.org/SETTINGS/1.2.0"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.2.0 http://maven.apache.org/xsd/settings-1.2.0.xsd">

	<profiles>
		<profile>
			<id>Develop</id> <!-- 指向POM中的Develop配置项 -->
			<activation> <!-- 当以下条件满足时，激活POM中的Develop配置项 -->
				<jdk>1.8</jdk>
			</activation>
		</profile>

		<profile>
			<id>Test</id> <!-- 指向POM中的Test配置项 -->
			<activation> <!-- 当以下条件满足时，激活POM中的Test配置项 -->
				<os>
					<name>Windows 10</name>
					<family>Windows</family>
					<arch>x86</arch>
					<version>5.1.2600</version>
				</os>
				<property>
					<name>MAVEN_HOME</name>
					<value>beauty</value>
				</property>
				<file>
					<missing>target/generated-sources/axistools/wsdl2java/org/apache/maven</missing>
				</file>
			</activation>
		</profile>
	</profiles>

	<activeProfiles>
		<activeProfile>lkjlk</activeProfile>
	</activeProfiles>

</settings>
         