<html>

<head>
    <title>BFC and IFC</title>
    <link href="box.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <div id="block1" class="depth1">
        <div id="box1" class="depth2 rank1">A</div>
        <div id="box2" class="depth2 rank2">B</div>
        <div id="box3" class="depth2 rank3">C</div>
        <div id="box4" class="depth2 rank4">D</div>
    </div>

    <div id="block2" class="depth1">
        <div id="box1" class="depth2 rank1">A</div>
        <div id="box2" class="depth2 rank2">B</div>
        <div id="box3" class="depth2 rank3">C</div>
        <div id="box4" class="depth2 rank4">D</div>
    </div>

    <div id="block3" class="depth1">
        <div id="box1" class="depth2 rank1">A</div>
        <div id="box2" class="depth2 rank2">B</div>
        <div id="box3" class="depth2 rank3">C</div>
        <div id="box4" class="depth2 rank4">D</div>
    </div>
</body>

</html>