<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
	<servlet>
		<servlet-name>ServletCase1</servlet-name>
		<servlet-class>demo.servlet.ServletCase1</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>ServletCase1</servlet-name>
		<url-pattern>/servlet1</url-pattern>
	</servlet-mapping>
	
	<welcome-file-list>
		<welcome-file>servlet-demo.html</welcome-file>
		<welcome-file>mixcode.html</welcome-file>
	</welcome-file-list>
</web-app>
