body {
    margin: 0;
}

.depth1 {
    margin: 15px 0;
    padding: 10px 10px;
    width: 500px;
    background-color: whitesmoke;
}

.rank1 {
    width: 80px;
    height: 60px;
    background-color: red;
    opacity: 0.8;
}

.rank2 {
    width: 60px;
    height: 80px;
    background-color: seagreen;
}

.rank3 {
    width: 80px;
    height: 60px;
    background-color: slateblue;
    opacity: 0.8;
}

.rank4 {
    width: 60px;
    height: 80px;
    background-color: aqua;
}

/* 
float使元素脱离原来的BFC，建立新的BFC
*/

#block1 #box1, #block1 #box3 {
    float: left;
}

#block1 #box2, #block1 #box4 {
    margin-top: 10px;
}

/*
把块级元素变成行级块元素
*/

#block2 div {
    display: inline-block;
    margin: 0;
}

#block2 #box3 {
    display: inline;
}

#block3 div {
    float: left
}